In [10]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns

In [3]:
data = pd.read_csv('../dataset/Life Expectancy at Birth.csv')

In [8]:
data.head()

,ISO3,Country,Continent,Hemisphere,Human Development Groups,UNDP Developing Regions,HDI Rank (2021),Life Expectancy at Birth (1990),Life Expectancy at Birth (1991),Life Expectancy at Birth (1992),...,Life Expectancy at Birth (2012),Life Expectancy at Birth (2013),Life Expectancy at Birth (2014),Life Expectancy at Birth (2015),Life Expectancy at Birth (2016),Life Expectancy at Birth (2017),Life Expectancy at Birth (2018),Life Expectancy at Birth (2019),Life Expectancy at Birth (2020),Life Expectancy at Birth (2021)
0,AFG,Afghanistan,Asia,Northern Hemisphere,Low,SA,180.0,45.9672,46.6631,47.5955,...,61.9230,62.4167,62.5451,62.6587,63.1361,63.0160,63.0810,63.5645,62.5751,61.9824
1,AGO,Angola,Africa,Southern Hemisphere,Medium,SSA,148.0,41.8933,43.8127,42.2088,...,58.6231,59.3074,60.0397,60.6546,61.0923,61.6798,62.1438,62.4484,62.2612,61.6434
2,ALB,Albania,Europe,Northern Hemisphere,High,ECA,67.0,73.1439,73.3776,73.7148,...,78.0640,78.1226,78.4075,78.6441,78.8602,79.0473,79.1838,79.2825,76.9893,76.4626
3,AND,Andorra,Europe,Northern Hemisphere,Very High,NaN,40.0,78.4063,77.9805,80.3241,...,82.9166,82.9343,82.9483,82.9534,82.9671,82.9803,82.9923,83.0039,79.0234,80.3684
4,ARE,United Arab Emirates,Asia,Northern Hemisphere,Very High,AS,26.0,71.9004,72.2414,72.3062,...,78.7155,78.8528,79.0442,79.2232,79.3347,79.5036,79.6274,79.7262,78.9457,78.7104

In [5]:
data.shape

(195, 39)

In [ ]:
data.info()

In [ ]:
data.isnull().sum()

In [ ]:
data.isnull().sum() / data.shape[0] * 100

In [17]:
data.duplicated().sum()

0

In [ ]:
data.isna().sum()

In [19]:
data.describe()

,HDI Rank (2021),Life Expectancy at Birth (1990),Life Expectancy at Birth (1991),Life Expectancy at Birth (1992),Life Expectancy at Birth (1993),Life Expectancy at Birth (1994),Life Expectancy at Birth (1995),Life Expectancy at Birth (1996),Life Expectancy at Birth (1997),Life Expectancy at Birth (1998),...,Life Expectancy at Birth (2012),Life Expectancy at Birth (2013),Life Expectancy at Birth (2014),Life Expectancy at Birth (2015),Life Expectancy at Birth (2016),Life Expectancy at Birth (2017),Life Expectancy at Birth (2018),Life Expectancy at Birth (2019),Life Expectancy at Birth (2020),Life Expectancy at Birth (2021)
count,191.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,...,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000
mean,95.811518,64.596583,64.729711,64.734149,64.955027,65.262238,65.410569,65.622842,65.825234,65.864002,...,70.742479,71.029231,71.287446,71.511704,71.823067,72.069328,72.292908,72.505775,71.813544,71.276330
std,55.307333,10.102225,10.311808,10.582665,10.378498,10.443104,10.080049,10.151753,10.215914,10.627165,...,8.432951,8.316052,8.241010,8.049081,7.913379,7.812799,7.708096,7.637005,7.528341,7.746488
min,1.000000,29.935300,26.564700,22.724500,22.704100,14.098500,30.948300,31.296600,32.242400,18.385200,...,47.835400,49.002400,50.032700,51.101400,52.042700,52.305200,52.553600,52.910400,52.777400,52.525400
25%,48.500000,58.675500,59.051850,57.631950,57.959100,58.585050,59.327700,59.310500,59.996100,59.897200,...,64.364150,64.326350,64.604600,65.210800,65.711150,65.978000,66.278450,66.519900,66.028150,65.672500
50%,96.000000,67.658400,67.881400,67.783000,67.719500,67.884600,68.169900,68.749300,68.884100,69.099600,...,72.453600,72.704400,72.853300,72.983000,73.111600,73.374300,73.530600,73.469600,72.513200,71.694000
75%,143.500000,71.933450,72.137450,72.379750,72.542950,72.740000,72.755300,73.203100,73.226950,73.419950,...,77.085850,77.183600,77.430750,77.608100,77.811300,77.859850,77.914400,77.985100,77.403650,76.699300
max,191.000000,78.983800,79.251900,80.324100,79.434200,82.638000,79.670200,80.349300,80.943900,80.640200,...,84.529300,84.865600,84.880400,85.258500,85.722800,85.652500,86.464300,86.542400,86.538000,85.946300

## EDA